<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" 
    package="com.genina.noon_payments"> 
    <uses-permission android:name="android.permission.INTERNET" android:required="true" />

    <application>
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity 
            android:name="com.noonpayments.paymentsdk.activities.PaymentMethodSheet"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoonPayments.SafeTheme"
            tools:replace="android:theme" /> 

        <activity 
            android:name="com.noonpayments.paymentsdk.activities.DSActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoonPayments.SafeTheme"
            tools:replace="android:theme" />

        <activity 
            android:name="com.noonpayments.paymentsdk.activities.PaymentProcessingSheet"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoonPayments.SafeTheme"
            tools:replace="android:theme" />
            </application>
</manifest>
